* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #ffba3d!important;
}

.content {
	position: relative;
	top: 100px;
}

.navbar-right li a {
	line-height: 64px;
	font-size: 18pt;
	margin-right: 20px;
}

.navbar-left li a {
	line-height: 64px;
	font-size: 18pt;
	font-weight: 700;
}

.horizontal-center {
	width: 50%;
	margin: 0 auto; 
}

.achieved {
	text-shadow: 0 0 3px #f6ff00;
}

.table-headers {
	font-size: 20pt;
	font-weight: 800;
	border-bottom: 1px solid black;
}

.data-cell {
	border-left: 1px solid black;
}

#profile-picture {
	max-height: 64px;
}