* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #ffba3d!important;
}

.content {
	position: relative;
	top: 100px;
}

.navbar-right li a {
	line-height: 64px;
	font-size: 18pt;
	margin-right: 20px;
}

.navbar-left li a {
	line-height: 64px;
	font-size: 18pt;
	font-weight: 700;
}

.horizontal-center {
	width: 50%;
	margin: 0 auto; 
}

.data-cell {
	border-left: 1px solid black;
	font-size: 14pt;
}

.table-headers {
	font-size: 20pt;
	font-weight: 800;
	border-bottom: 1px solid black;
}

button {
	font-size: 12px;
	padding: 0;
	margin: 0;
	position: absolute;
	background-color: #ffba3d;
	border: 0;
	right: 5px;
} 

#profile-picture {
	max-height: 64px;
}