body {
    background-color: #ffba3d!important;
    color: white;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
}

.btn .btn-primary{
    background-color: #1b6d85!important;
    background-image: none!important;
}