body {
	padding-top: 35px;
	color: #959595;
	background-color: #f18f0e;
	
}

#classespage {
	height:100%;
	background-color: #ffffff;
	margin: 10px 10px 10px 10px;
}
	
h1, h2, h3, h4, h5, h6 {
	padding: 10px 30px 30px 50px;
	color: black;
	}
	
.feature {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	}


	
.article-intro {
    margin-bottom: 25px;
}


 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}
 #thecontent {
 	display: none;
 	height: 100%;
 }

#table-wrapper {
  position:relative;
	border-style: solid;
    border-color: #7f33cc;
    height: 200px;
}

#table-scroll {
  height:150px;
  overflow:auto;
  margin-top:20px;  
}
#table-wrapper table {
  width:100%;
}

#table-wrapper table * {
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  height:20px;
  width:35%;

}

#studentstabbanner li ul .tablinks {
	background-color: #de840d;
}

#optionaltasks tr {
	padding:20px;
}

.navbar{
	background: #3333cc;
}

.nav-tabs > li   {
	background-color: #cc0033;
	color: #ffffff;
}

.nav-tabs > li a  {
	background-color: #cc0033;
	color: #ffffff;
}


#ul{
	overflow-y: scroll;
}

#table-wrapper table td .text {
  position:absolute;   
  top:-20px;
  height:20px;
  width:35%;
  padding-bottom: 20px;
}

#table-wrapper table td {
	padding-bottom: 20px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}