
		<div class="page-header">
			<img src="../img/Logo.png">
			<br>Welcome,
		</div>

		<div class="container-fluid">
			<div class="row">

				<div class="col-md-4">
				</div>

				<div class="col-md-4">
					<div id="login-form">
						<div ng-if="initial">
							<button id="teacher" class="btn btn-primary" ng-click="userType('teacher')">I'm a Teacher</button>
							<button id="student" class="btn btn-primary" ng-click="userType('student')">I'm a Student</button>
							<button id="register" class="btn btn-primary" ng-click="">Register</button>
						</div>
						<form ng-if="isTeacher || isStudent">
							<div class="input-group">
								<input type="text" id="username" placeholder="Username" class="text-center">
							</div>
							<div class="input-group">
								<input type="password" id="password" placeholder="Password" class="text-center">
							</div>
							<button id="backToHome" class="login btn btn-primary" ng-click="userType('goBack')">Go Back</button>
							<button ng-controller="authenticateCtrl" id="Submit" class="login btn btn-primary" ng-click="authenticate()">Login</button>
						</form>
					</div>

				</div>

				<div class="col-md-4">
				</div>

			</div>
		</div>
